* {
  margin: 0;
  padding-block-end: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  background-color: #fe5a5a;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  background-color: white;
  width: 584px;
  height: 659px;
  border-radius: 50px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.titleBox {
  align-self: center;
}
.day {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.date {
  color: rgba(0, 0, 0, 0.4);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input {
  width: 394px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.button {
  width: 92px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fe5a5a;
    cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
}
.button:hover{
background-color: rgb(4, 220, 4);
}
.inputBox{
    margin-top: 2%;
    display: flex;
    gap: 30px;
}